NVIDIA_API_KEY=sua_chave_aqui
NVIDIA_API_URL=https://integrate.api.nvidia.com/v1/chat/completions
NVIDIA_MODEL=meta/llama-3.2-90b-vision-instruct
NVIDIA_API_TIMEOUT=120
CLICAR_VISUALIZAR=true
NVIDIA_VERIFY_SSL=true
HEADLESS=false
PLURALL_LOGIN_URL=https://login.plurall.net/
PLURALL_EMAIL=seu_email_aqui
PLURALL_SENHA=sua_senha_aqui
